<h3> Veuillez entrer les informations necessaire a creer votre compte</h3>


<div class="form-container">

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prenom</mat-label>
    <input matInput placeholder="Prenom">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>
    <input matInput placeholder="Adresse">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Ville">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Téléphone</mat-label>
    <input matInput placeholder="Téléphone">
  </mat-form-field>

</div>



